/* Header Styling */

header {
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.main-text {
    line-height: 0;
    margin: auto;
    color: var(--main-white);
    user-select: none;
}

.main-text h1 {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    font-size: 8rem;
    font-weight: 100;
    margin-bottom: 5rem;
}

.main-text h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2rem;
    line-height: 1;
    position: relative;
}